{% extends "template.html" %}
{% from 'macro_capa_jogo.html' import capa %}

{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
        <fieldset>
          {{ capa(capa_jogo) }}
          <input type="hidden" name="id" value="{{ jogo._id }}">
          <div class="col-md-8">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" id="nome" name="nome" class="form-control" value="{{ jogo.nome }}">
            </div>
            <div class="form-group">
              <label for="categoria">Categoria</label>
              <select name="categoria" class="custom-select" id="categoria">
                <option selected>{{ jogo.categoria }}</option>
                {% for categoria in categorias %}
                  <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="console">Console</label>
              <select name="console" class="custom-select" id="console">
                <option selected>{{ jogo.console }}</option>
                {% for console in consoles %}
                  <option value="{{ console.nome }}">{{ console.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            <a class="btn btn-secondary" href="{{ url_for('index') }}">Voltar</a>
          </div>
        </fieldset>
      </form>
{% endblock %}