{% extends "template.html" %}
{% block conteudo %}
    <form method="POST" action="{{ url_for('autenticar') }}" class="col-md-4">
        <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
        <p><label>Nome de usuário:</label> <input class="form-control" type="text" name="usuario" required></p>
        <p><label>Senha:</label> <input class="form-control" type="password" name="senha" required></p>
        <p>
            <button class="btn btn-primary" type="submit">Entrar</button>
            <a class="btn btn-secondary" href="{{ url_for('signup') }}">Cadastre-se!</a>
        </p>
    </form>
{% endblock %}